{% extends "base.html" %}

{% block content %}
      <div class="row">
        <div class="col-md-4">
          <h2>Wnioski</h2>
          <p>Bardzo motywujący tekst tutaj.</p>
          <p><a class="btn btn-default" href="#" role="button">Więcej &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Firmy</h2>
          <p>Kapitalistyczne szczury, rak tego kraju. </p>
          <p><a class="btn btn-default" href="#" role="button">Więcej &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Złóż wniosek już dziś!</h2>
          <p>Czym jest wniosek zakupowy? Tego nie wie nikt.</p>
          <p><a class="btn btn-default" href="#" role="button">Więcej &raquo;</a></p>
        </div>
      </div>
	  
{% endblock %}
