{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

        <form class="form-signin" role="form" id="user_form" method="post" action="/register/" enctype="multipart/form-data"> {% csrf_token %}
            {% if registered %}
                <p>Dziękujemy za rejesrację.</p>
                <p>Możesz się teraz <a href="/login/">Zalogować</a></p>
            {% else %}
                <h2 class="form-signin-heading">Zarejestruj się</h2>

                {{ user_form.as_p }}
                {{ profile_form.as_p }}

            <button class="btn btn-lg btn-primary btn-block" type="submit">Zarejestruj</button>
            {% endif %}
        </form>

{% endblock %}		